<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RFIDTags;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" name="conn"/>-->
    <add connectionString="Data Source=RFIDTags;Version=3" name="sqlite" />
    <add connectionString="7pvfFmSKjR5NW6tDjy3dkifbLsVlTpIAbDAPfPV4pKTKNt45VgV2lDhLP9Vb9JXHY5g8nw+ha5ke64iVoXrKi6BOLUBSKhv1S6Ac60SkyZSE7i/ZraE5eZFFcFkjUGRsW8uWH+0KXZVwp0KZVlGcUS1uKi+zphbmiWNYhfyw4bO7CgK5VoUXMA==" name="mysql_uat" />
    <add connectionString="7pvfFmSKjR5NW6tDjy3dkifbLsVlTpIAbDAPfPV4pKQJdS8YebjTEB79TZeOMI76iK2UqdoiZPQasJCSyRd84Awu4GQEaPoXEwVOUfTOacpXMblUqbx5m+fcAiM3qdrpcCaGQQ2sNLHybgbXJelgnLbtg1Fx0/Bkgjo/8Sgv72qH9v+JEZdZd11jSGPKdFZDYBZb3QIS5tI=" name="mysql" />
    <add connectionString="7pvfFmSKjR5NW6tDjy3dkifbLsVlTpIAbDAPfPV4pKQJdS8YebjTEB79TZeOMI76iK2UqdoiZPQasJCSyRd84Awu4GQEaPoXEwVOUfTOacpXMblUqbx5m+fcAiM3qdrpcCaGQQ2sNLHybgbXJelgnLbtg1Fx0/Bkgjo/8Sgv72qH9v+JEZdZd11jSGPKdFZDYBZb3QIS5tI=" name="mysql_dev" />
  </connectionStrings>
  <appSettings>
    <add key="ssh" value="PGQfJQoRDqMIBjqje0/71ZfyT+1V7gk9pv3zO3MSgS3PIfyxw/Ptg7N2iI532wzmiD7FG7z/M4ioCFVN35j1MUaJbr1SD5mRxSeskeHJm/es9I78K2h74i9VJoX/KLy4rsd3QKysNPJUoe9awxN89IJ1MxGBRVGgQvwVOrhIwlPI60J44M4HXuJnAPZI9OXFCEIi1x4c51GbrQJi/JYLXnFFizEKgqfsATmEijTv9UGwXziVa6vK8NYPHQ3ukJBs4xanQcN4bzM=" />

    <add key="ssh_dev" value="PGQfJQoRDqOXFbQNQN9BpJ6YimmmTh0IqpnKt3ALeRrPIfyxw/Ptg7N2iI532wzmiD7FG7z/M4ioCFVN35j1MUaJbr1SD5mRxSeskeHJm/es9I78K2h74i9VJoX/KLy4rsd3QKysNPJUoe9awxN89IJ1MxGBRVGgQvwVOrhIwlPI60J44M4HXuJnAPZI9OXFCEIi1x4c51GbrQJi/JYLXnFFizEKgqfsATmEijTv9UGwXziVa6vK8NYPHQ3ukJBs4xanQcN4bzM=" />
    
    <add key="nfc_address" value="sm.wdb007.com/wdb007-info/book/detail.html?isbn={0}" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <!--<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>-->
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
